<section class="section-container">
  <article class="rectangle">
    <img class="doodles doodle-4" src="../../../assets/images/on-boarding/doodle-onboarding-1.png" alt="" />
    <img class="doodles doodle-5" src="../../../assets/images/on-boarding/doodle-onboarding-2.png" alt="" />
    <img class="doodles doodle-7" src="../../../assets/images/on-boarding/doodle-onboarding-3.png" alt="" />
    <div class="container text-center">
      <article class="row align-items-center h-100">
        <div class="col-6 saly-container">
          <img
            class="saly-1"
            src="../../../assets/images/on-boarding/Saly-1.png"
            alt="saly-1"
          />
        </div>
        <div class="col-6">
          <h1 class="hebbo-font title text-start">
            THE PERFECT <a id="m-letter">M</a>ENTOR
          </h1>
          <article class="session-buttons">
            <button type="button" class="btn btn-lg sign-up" routerLink="/sign-up">
              <span>Sign up</span>
            </button>
            <button type="button" class="btn btn-lg login" routerLink="/sign-in">
              <span>Log in</span>
            </button>
          </article>
        </div>
      </article>
    </div>
  </article>
</section>
