<section class="section-container">
  <article class="title-container">
    <h1 class="hebbo-font title text-start">
      THE PERFECT <a id="m-letter">M</a>ENTOR
    </h1>
  </article>
  <article class="rectangle">
    <img
      class="doodles doodle-group"
      src="../../../assets/images/register/doodle-group-register.png"
      alt=""
    />
    <img
      class="doodles doodle-register-1"
      src="../../../assets/images/register/doodle-register-1.png"
      alt=""
    />
    <img
      class="doodles doodle-register-2"
      src="../../../assets/images/register/doodle-register-2.png"
      alt=""
    />
    <img
      class="doodles doodle-register-3"
      src="../../../assets/images/register/doodle-register-3.png"
      alt=""
    />
    <img
      class="doodles line-rgister"
      src="../../../assets/images/register/line-rgister.png"
      alt=""
    />
    <div class="container text-center">
      <article class="row align-items-center h-100">
        <div class="col-6 saly-container">
          <img
            class="saly-2"
            src="../../../assets/images/register/Saly-2.png"
            alt="saly-2"
          />
        </div>
        <div class="col-6 d-flex flex-column align-items-center">
          <article class="mb-4 text-start">
            <h2 *ngIf="signIn" class="subtitle">Sign in</h2>
            <h2 *ngIf="signUp" class="subtitle">Sign up</h2>
            <img
              src="../../../assets/images/icons/dot-line.png"
              alt="dotline"
            />

            <!-- <p class="hi-name" *ngIf="signIn">Hi, name</p> -->
          </article>
          <form [formGroup]="accessForm" (ngSubmit)="onSubmit()">
            <div *ngIf="signUp" class="icon-container">
              <input
                type="text"
                class="form-control"
                placeholder="username"
                formControlName="username"
              />

              <img
                class="icon"
                src="../../../assets/images/icons/user.png"
                alt=""
              />
              
            </div>
            <div class="icon-container">
              <input
                type="email"
                class="form-control"
                placeholder="email"
                formControlName="email"
              />

              <img
                class="icon"
                src="../../../assets/images/icons/email.png"
                alt=""
              />
               
            </div>
            
            
            <div *ngIf="signUp" class="icon-container">
              <input
                type="text"
                class="form-control"
                placeholder="role"
                formControlName="role"
              />
              <img
                class="icon"
                src="../../../assets/images/icons/user.png"
                alt=""
              />
              
            </div>
            <div class="icon-container">
              <input
                type="password"
                class="form-control"
                placeholder="password"
                formControlName="password"
              />
              <img
                class="icon"
                src="../../../assets/images/icons/password.png"
                alt=""
              />
            
            </div>

            <p class="message-forgot" *ngIf="signIn">
              Do you forgot your password?
            </p>
            <button
              type="submit"
              class="btn btn-lg sign-up"
              [disabled]="accessForm.invalid"
            >
              <span *ngIf="signUp">Sign up</span>
              <span *ngIf="signIn">Sign in</span>
            </button>
          </form>
        </div>
      </article>
    </div>
  </article>
</section>
